<!DOCTYPE html>
<html ng-app="cdap-bare-bones" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <title>An Example of using Web Sockets using angular's $resource</title>
    <style media="screen">
      blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
      }
      blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
      }
      blockquote p {
        display: inline;
      }
  </style>
  </head>
  <body>

      <div class="jumbotron">
        <div class="container">
            <h3>An example of talking through Web Sockets using $resource</h3>
        </div>
      </div>
      <div class="container" ng-controller="MyChuckController">

        <form class="form-inline" action="index.html" method="post">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" class="form-control" ng-model="firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" class="form-control" ng-model="lastName">
          </div>
        </form>

        <br>
        <div class="row">
          <div class="col-xs-6">
            <select class="form-control"
                    ng-model="requestType">
              <option value="Request">Make Request</option>
              <option value="Poll">Poll @rate 7s</option>
              <option value="IntervalPoll">Poll @intervals</option>
            </select>
          </div>
          <div class="col-xs-6" ng-if="requestType === 'Request'">
            <div class="btn btn-default" ng-click="makeRequest()">
              Make Request
            </div>
          </div>
          <div class="col-xs-6" ng-if="requestType === 'Poll'">
            <div class="btn-group">
              <div class="btn btn-default" ng-click="startPolling()" ng-disabled="isPolling">
                Start Polling
              </div>
              <div class="btn btn-default" ng-disabled="!isPolling" ng-click="stopPolling()">
                Stop Polling
              </div>
            </div>
          </div>
          <div class="col-xs-6" ng-if="requestType === 'IntervalPoll'">
            <div class="input-group">
              <span class="input-group-addon">interval(ms)</span>
              <input type="text" ng-model="config.pollInterval">
            </div>
            <div class="btn-group" >
              <div class="btn btn-default"
                    ng-click="manualStartPoll()"
                    ng-disabled="isPolling">
                Start Polling
              </div>
              <div class="btn btn-default"
                    ng-click="manualStopPoll()"
                    ng-disabled="!isPolling">
                Stop Polling
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="row"  ng-if="data.joke.length > 0">
          <div class="col-xs-12">
            <blockquote>
              {{data.joke}}
            </blockquote>
          </div>
        </div>

      </div>

      <!-- DEV DEPENDENCIES -->
      <script type="text/javascript" src="/assets/bundle/lib.js"></script>
      <script type="text/javascript" src="/assets/bundle/app.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </body>
</html>
